::-webkit-scrollbar {
    width: 5px;
    height: 5px
  }
  
  ::-webkit-scrollbar-track {
    background: transparent
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--upage-elements-scrollbar-thumb);
    border-radius: 5px
  }
  
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--upage-elements-scrollbar-thumb) transparent;
  }